
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}
template {
  display: none;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}
img,
iframe,
video,
audio,
object {
  max-width: 100%;
}
img,
iframe {
  border: 0 none;
}
img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
img,
[style*=background-image] {
  image-rendering: -webkit-optimize-contrast;
}
b,
strong {
  font-weight: bold;
}
address {
  font-style: normal;
}
svg:not(:root) {
  overflow: hidden;
}
a,
button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=file],
input[type=image],
label[for] {
  cursor: pointer;
}
a[href^=tel],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=color],
textarea,
a[href^=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}
button,
select {
  text-transform: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
nav ul,
nav ol {
  list-style: none outside none;
}
input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}
input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
input::placeholder {
  color: inherit;
  opacity: 1;
}
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}
textarea::placeholder {
  color: inherit;
  opacity: 1;
}
input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
input[type=text],
input[type=button],
input[type=tel],
input[type=email],
input[type=submit],
input[type=date],
input[type=search],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
html {
  font-size: 62.5%;
}
body {
  min-width: 320px;
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.15;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
a[href^=tel] {
  text-decoration: none;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  margin-bottom: calc(1.15em / 2);
  font-family: "Playfair Display", serif;
}
.h1,
h1 {
  font-size: 14.4rem;
  font-weight: 900;
}
.h2,
h2 {
  font-size: 8rem;
}
.h3,
h3 {
  font-size: 4.8rem;
}
.h6,
h6 {
  font-size: 2.4rem;
}
p,
ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: 1.15em;
}
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}
/* ------------------------------------------------------------ *\
  Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after {
  content: "";
  line-height: 0;
  display: table;
  clear: both;
}
/* sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*  Notext  */
.notext {
  white-space: nowrap;
  text-indent: 100%;
  text-shadow: none;
  overflow: hidden;
}
.notext-old {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
/*  Hidden  */
[hidden],
.hidden {
  display: none;
}
/*  Disabled  */
[disabled],
.disabled {
  cursor: default;
}
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 767.02px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1023.02px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1199.02px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-transform: uppercase;
  padding: 4.5rem 2rem;
  border-radius: 10rem;
  background-color: #000;
  min-width: 30.4rem;
  color: #fff !important;
  -webkit-transition: background-color 0.4s, color 0.4s;
  -o-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.btn:hover {
  background-color: #fff;
  color: #000 !important;
}
/*  btn--alt  */
.btn--alt {
  color: #000 !important;
  background-color: #fff;
}
.btn--alt:hover {
  background-color: #000;
  color: #fff !important;
}
/*  Btn block  */
.btn--block {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */
.copyright {
  padding-top: 3.4rem;
  font-size: 3.6rem;
}
/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */
/*  Field textarea  */
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer {
  padding: 19.4rem 0 17rem;
  text-align: center;
}
.footer > ul {
  padding-bottom: 3rem;
}
.footer > ul li + li {
  padding-top: 6.2rem;
}
/* ------------------------------------------------------------ *\
	Grid
\* ------------------------------------------------------------ */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /*  Grid col 1of2  */
  /*  Grid col 1of3  */
}
.grid .grid__col {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.grid .grid__col--1of2 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.grid .grid__col--1of3 {
  max-width: calc(100% / 3);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
}
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header {
  background-color: #fff;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.header .header__inner {
  padding: 5.6rem 11.8rem 6.5rem 12.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */
.hero .hero__inner {
  position: relative;
  padding: 10.8rem 0 13.1rem 8.7rem;
}
.hero .hero__image {
  position: absolute;
  top: 0;
  right: -3.4rem;
  border-radius: 0 0 0 19rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.hero .hero__image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(rgba(196, 196, 196, 0)));
  background: -o-linear-gradient(top, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
  background: linear-gradient(180deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
}
.hero .hero__body {
  position: relative;
  max-width: 65.6rem;
  font-size: 4.8rem;
}
.hero .hero__head {
  text-align: center;
  max-width: 41.1rem;
  padding-bottom: 4.3rem;
}
.hero .hero__head svg {
  margin-right: 5.3rem;
}
.hero .hero__title {
  margin-bottom: 4.4rem;
}
.hero .hero__entry {
  line-height: 1.15;
}
.hero .hero__entry p {
  padding-bottom: 4.7rem;
}
/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */
.ico-linkedin {
  width: 5rem;
  height: 4.4rem;
}
/*  ico-linkedin--big  */
.ico-linkedin--big {
  width: 6.8rem;
  height: 5.9rem;
}
.ico-smile {
  width: 11.6rem;
  height: 11.1rem;
}
/* ------------------------------------------------------------ *\
	Link-more
\* ------------------------------------------------------------ */
.link-more {
  font-size: 3.6rem;
  position: relative;
  padding-bottom: 0.4rem;
  text-decoration: none;
}
.link-more:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: #fff;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.link-more:hover:after {
  opacity: 0;
}
/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav {
  color: #000;
  font-size: 3.6rem;
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav li + li {
  padding-left: 6.6rem;
}
.nav a {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}
.nav a:hover strong {
  opacity: 1;
}
.nav a:hover span {
  opacity: 0;
}
.nav a span {
  font-weight: 400;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.nav a strong {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  left: -0.1rem;
  letter-spacing: -0.02em;
}
/* ------------------------------------------------------------ *\
	Radio
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section {
  padding: 11.4rem 0 0;
}
.section .section__inner {
  position: relative;
  padding: 12.7rem 7rem 16.9rem 11.4rem;
  border-radius: 0 0 0 19rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.section .section__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #193498;
}
.section .section__background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .section__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section .section__entry {
  max-width: 37.5rem;
  line-height: 1.15;
  margin-right: 2.5rem;
}
.section .section__subtitle {
  font-weight: 600;
  padding-bottom: 0.8rem;
}
.section .section__title {
  line-height: 1.33;
}
.section .section__head {
  padding-bottom: 7.9rem;
}
.section .section__actions {
  padding-top: 7.8rem;
}
/*  Section--gradient  */
.section--gradient .section__background:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(70%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 70%);
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 70%);
}
/*  Section--secondary  */
.section--secondary .section__inner {
  padding: 6.7rem 4.5rem 18.4rem 12.2rem;
}
.section--secondary .section__entry {
  max-width: 36.1rem;
  margin-right: 7.6rem;
}
.section--secondary .section__head {
  padding-bottom: 6.4rem;
}
.section--secondary .section__image {
  margin-top: -0.6rem;
}
.section--secondary .section__actions {
  padding-top: 6.7rem;
}
/*  Section--alt  */
.section--alt {
  color: #000;
}
.section--alt .section__inner {
  padding: 19.8rem 4.5rem 16.3rem 14.3rem;
}
.section--alt .section__head {
  padding-bottom: 5.8rem;
}
.section--alt .section__entry {
  max-width: 34rem;
  margin-right: 7.6rem;
}
.section--alt .section__actions {
  padding-top: 8.5rem;
}
/* ------------------------------------------------------------ *\
	Select
\* ------------------------------------------------------------ */
.select select::-ms-expand {
  display: none;
}
/* ------------------------------------------------------------ *\
  Shell
\* ------------------------------------------------------------ */
.shell {
  max-width: calc( 137.3rem + 3rem * 2 );
  padding-left: 3rem;
  padding-right: 3rem;
  margin: auto;
  width: 100%;
}
/* Shell Fluid */
.shell--fluid {
  max-width: none;
}
/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */
.socials {
  text-align: center;
}
.socials ul {
  list-style-type: none;
}
.socials a {
  text-decoration: none;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.socials a:hover {
  opacity: 0.7;
}
.socials a svg {
  vertical-align: middle;
}
/*  Socials--black  */
.socials--black {
  color: #000;
}
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper {
  background-color: #552586;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */